*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-areas: "result details";
  min-width: 1140px;
  min-height: 534px;
  gap: 30px;
  margin: auto;
}

.result {
  grid-area: result;
  margin-top: 78px;
  margin-bottom: auto;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #ffffffb2;
  appearance: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus-visible {
  color: #fff;
}

.search-form__label {
  display: flex;
  gap: 3px;
}

.search-form__checkbox-list {
  display: flex;
  width: 208px;
  height: 26px;
  gap: 18px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
  transform: translate(7%, 6%);
}

.search-form__checkbox:active,
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text:hover,
.search-form__submit-button:hover,
.content__video-card-description-container:hover,
.content__video-card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: auto;
}

.button {
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border: 1px solid #ffffff;
}

.search-form__submit-button {
  display: block;
  width: 194px;
  height: 34px;
  border-width: 1px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:focus-visible,
.search-form__label:focus-visible,
.search-form__textfield:focus-visible,
.more-button:focus-visible,
.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  outline: 1px solid #ffffff;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  grid-area: details;
  min-height: 100%;
  min-width: 100%;
}

.content__list-container {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  min-height: 100%;
  justify-items: start;
}

.content__video-card-description-container {
  max-width: 194px;
  flex-grow: 1;
}

.content__video-card-description-container:active,
.search-form__submit-button:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 31px;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
